PORT=5000
DB_AUTH_MODE=sql
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=OnlineClothingBrand
DB_ODBC_DRIVER=ODBC Driver 18 for SQL Server
DB_USER=sa
DB_PASSWORD=your_password
JWT_SECRET=replace_with_long_secret
CLIENT_ORIGIN=http://localhost:5173
